{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteAsk</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <header>
        <div class="logo">
            <a href="#"><img src="{% static 'images/lg.svg' %}" alt="logo"></a>

        </div>
        <div class="navigation">
            <a href="#"><span class="iconify" data-inline="false" data-icon="carbon:settings"
                    style="font-size: 36px; color: #696969;"></span></a>
            <a href="#"><span class="iconify" data-inline="false" data-icon="carbon:haze-night"
                    style="font-size: 36px; color: #696969;"></span></a>
        </div>
    </header>

    <main class="main">
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <div class="footer-logo">
            <a href="#"><img src="{% static 'images/footer_lg.svg' %}" alt="logo"></a>
        </div>
        <div class="copyright">
            © 2020 NoteAsk.
        </div>
    </footer>

    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</body>

</html>