{% extends "base.html" %}

{% block content%}
<section class="recent">
    <div class="card">
        <div class="container">
            <h2>Recent</h2>
            <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, minima tempora
                voluptate necessitatibus illum non ipsa sint laborum obcaecati error, totam provident illo atque ducimus
                nihil ipsum cum eveniet! Nostrum.</div>
        </div>
    </div>
</section>

<section class="category">
    <div class="card">
        <a href="#">
            <div class="container">
                <h2>Notes</h2>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, minima tempora
                    voluptate necessitatibus illum non ipsa sint laborum obcaecati error, totam provident illo atque
                    ducimus nihil ipsum cum eveniet! Nostrum.</div>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="{% url 'tasks' %}">
            <div class="container">
                <h2>Tasks</h2>
                <div class="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut non quos odio
                    consectetur
                    omnis quo saepe rerum sapiente quis, porro voluptatum eveniet magni obcaecati vitae fugit aperiam
                    dolorem. Officia, non.</div>
            </div>
        </a>
    </div>
</section>
{% endblock %}